<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100" >
  <div class="cursor" [style.left.px]="mouseX" [style.top.px]="mouseY"></div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-xl-1 navdiv">
      <app-navbar></app-navbar>
    </div>
    <div class="col-12 col-md-4 profile">
        <app-profile></app-profile>
    </div>
    <div class="container col-12 col-md-6 content" [@pageAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>