.container-fluid{
    background: linear-gradient(to bottom, #eeffff, #e0dcf3);
}




.profile{
    padding: 0;
    z-index: 2;
    width: 25vw;
    position: relative;
}

.content{
    background-color: white;
    width: 45vw;
}

.cursor {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 202, 161, 0.5);;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999;
  }



@media (min-width:1200px){
    .navdiv{
        margin-right: 20px;
    }
}


@media (min-width:1200px) and (max-width:1400px) {
    .profile{
        width: 30vw;
        height: 80vh;
    }

    .content{
        width: 48vw;
        height: 80vh;
        background-color: white;
    }

}

@media (min-width:1000px) and (max-width:1200px) {
    .profile{
        width: 35vw;
        height: 80vh;
    }

    .content{
        width: 55vw;
        height: 80vh;
        background-color: white;
    }

}

@media (max-width:1000px) {
    .profile{
        width: 80vw;
    }

    .navdiv{
        margin: 0px;
        padding: 0px;
    }

    .content{
        width: 80vw;
        background-color: white;
        margin-bottom: 20px;
    }
}

@media (max-width:520px) {
    .profile{
        margin-top: 120px;
    }

    .content{
        margin-top: 20px;
    }

}

