<div class="bio">
    <div class="container-top"></div>
    <div class="inner">
        <h3><span style="color:orange">Biog</span>raphy</h3>
        <hr>
        <p style="margin-top: 6vh;">Experienced graphics designer, skilled trader, and dedicated part-time faculty member offering expertise in multiple domains. With a strong background in graphics designing and trading, I bring a creative and analytical approach to every project. As a part-time faculty member at a reputable training institute, I have successfully taught high-level computer courses, empowering students with valuable skills and knowledge.</p>
        <p>I am dedicated to delivering high-quality results, whether through designing captivating visual content, making informed trading decisions, or imparting practical computer skills.</p>
        <p>I am knowledgeable about the complexities of the financial markets, utilising data analysis and strategic decision-making to get favourable results.</p>
    </div>
    <div class="container-bottom"></div>
</div>