<div class="container-fluid">
    <div class="icon-holder">
        <mat-dialog-actions >
           <i class="bi bi-x-circle-fill" type="button" mat-dialog-close></i>
        </mat-dialog-actions>
    </div>
    <div class="row">
        <div class="col-6 image-container">
            <img src="../../assets/rocket.gif" alt="GIF" class="img-fluid">
        </div>
        <div class="col-6 content" >
            
            <div class="container-fluid content-wrapper" >
                <p class="h6"><span style="color:orangered">Hello Explorer!!!</span><br>Enjoy exploring a new realm<br><br><em><strong>"Working ethically is my motto"</strong><br>~Clinton Ghosh</em><br><br></p>
                <br>
                <button class="btn" mat-dialog-close>Let's Get Started</button>
            </div>
        </div>
    </div>
</div>
