<div class="Profile-Section">
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="../../assets/Clinton_1.jpg" class="img-fluid d-block" alt="Clinton_1">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/Clinton_2.jpg" class="img-fluid d-block" alt="Clinton_2">
            </div>
            <div class="carousel-item">
                <img src="../../assets/Clinton_1.jpg" class="img-fluid d-block" alt="Clinton_3">
            </div>
        </div>
    </div>
    <div class="profile-pic">
        <img src="../../assets/Clinton_avatar.jpg" alt="Clinton_Avatar" class="img-fluid">
        <p class="h2">Clinton Ghosh</p>
        <p class="display-7 typewriter">Graphics Designer • Stock Trader • Web Design</p>
        <div class="icon-div">
            <ul class="navbar-nav flex-row justify-content-evenly">
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/profile.php?id=100006124421284" target="_blank">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/clinton_07_/" target="_blank">
                  <i class="bi bi-instagram"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/clinton-ghosh-5457b1178/" target="_blank">
                  <i class="bi bi-linkedin"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/Clinton7_ghosh" target="_blank">
                  <i class="bi bi-twitter"></i>
                </a>
              </li>
            </ul>
        </div>
    </div>   
    <div class="blink-button" routerLink="/contact">
        <button class="btn">Let's Connect</button> 
    </div>
</div>